<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>CASFilter</filter-name>
    <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <!--casServerLoginUrl:cas服务的登陆url -->
      <param-name>casServerLoginUrl</param-name>
      <param-value>https://www.dahu.cn:8443/cas/login</param-value>
    </init-param>
    <init-param>
      <!--serverName:本项目的ip+port -->
      <param-name>serverName</param-name>
      <param-value>http://localhost:8081/client</param-value>
    </init-param>
    <init-param>
      <param-name>useSession</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>redirectAfterValidation</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <!-- 忽略的(也就是不需要拦截的)URL例如我访问http://localhost:8080/springAndCas/staticres/js/login/login.js就不会被拦截-->
      <param-name>ignorePattern</param-name>
      <!-- <param-value>/staticres/css/|/staticres/js/|/springAndCas/login$|/springAndCas/logout$</param-value>   -->
      <param-value>/staticres/css/|/staticres/js/</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CASFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <filter>
    <filter-name>CAS Validation Filter</filter-name>
    <filter-class>
      org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter
    </filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>https://www.dahu.cn:8443/cas/</param-value>
    </init-param>


    <init-param>
      <!--这里的service  为提交的service  这里其实就是提交到你未配置cas的时候，在session 中放入username的地方。-->
      <param-name>serverName</param-name>
      <param-value>http://localhost:8081/client</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>




  <filter>
    <filter-name>casAssertionThreadLocalFilter</filter-name>
    <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>casAssertionThreadLocalFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


</web-app>
